*{
    /* height: 100vh; */
    background-color: beige
    /* background-image: url(./blank-profile-picture-973460_960_720.webp); */
}
header{
    display: flex;
    justify-content: space-between;
}
img{
    height: 50px;
    width: 50px;
}

ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.parent{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    gap: 0.25rem;

}
/* .side{
    grid-area: S;
    background-color: black; }*/

#home{
    grid-area: H;
    background-color: blueviolet;
    
}
#about{
    grid-area: A;
    background-color: blue;
}
#projects{
    grid-area: P;
    background-color:rebeccapurple;
}
#contact{
    grid-area: C;
    background-color: aqua;
}

footer{
    background-color: black;
}